body {
  background-color: powderblue;
}
#title1 {
  color: white;
  font-family: 'Karma', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 80px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 2px solid;
  position:absolute;
    transition: .5s ease;
    top: 15%;
    left: 25%;
    bottom: 90%;
}
.topnav {
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}
.topnav a:hover {
    background-color: plum;
    color: black;
}
.topnav a.active {
    background-color: #2196F3;
    color: white;
}
.topnav input[type=text] {
  font-family: 'Karma', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 11px;
    margin-right: 16px;
    font-size: 17px;
    position:absolute;
      transition: .5s ease;
      top: 5%;
      left: 77%;
      bottom: 87%;
}
.topnav .search-container button {
  float: right;
  width: 35px;
  height: 33px;
  padding: 6px 10px;
  margin-top: 27px;
  margin-right: 18px;
  margin-bottom: 50px;
  background: #2196F3;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: plum;
}
.active {
  font-family: 'Karma', serif;
  font-weight: 400;
  line-height: 180%;
  -webkit-font-smoothing: antialiased;
  position:absolute;
    transition: .5s ease;
    top: 4%;
    left: 3%;
    bottom: 87%;
}
#about{
  font-family: 'Karma', serif;
  font-weight: 400;
  line-height: 180%;
  -webkit-font-smoothing: antialiased;
  position:absolute;
    transition: .5s ease;
    top: 4%;
    left: 10%;
    bottom: 87%;
}
#contact {
  font-family: 'Karma', serif;
  font-weight: 400;
  line-height: 180%;
  -webkit-font-smoothing: antialiased;
  position:absolute;
    transition: .5s ease;
    top: 4%;
    left: 17%;
    bottom: 87%;
}
.ingredients {
  color: white;
  font-family: 'Karma', serif;
  position:absolute;
    transition: .5s ease;
    top: 40%;
    left: 60%;
}
.method {
  color: white;
  font-family: 'Karma', serif;
  position:absolute;
    transition: .5s ease;
    top: 80%;
    left: 8%;
    right: 8%;
padding-bottom: 40px;
}
.prep {
  color: white;
  font-size: 25px;
  font-family: 'Karma', serif;
  position:absolute;
    transition: .5s ease;
    top: 39%;
    left: 35%;
    right: 5%;
padding-bottom: 40px;
}
#wrap {
  height: 260px;
  width: 290px;
  border: 10px solid white;
  position:absolute;
    transition: .5s ease;
    top: 40%;
    left: 10%;
    right: 5%;
}
