body {
  background-color: powderblue;
}
#title1 {
  color: darkslateblue;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 90px;
  text-align: center;
  letter-spacing: 5px;
}
#title2 {
  font-family: 'Open Sans Condensed', sans-serif;
  position:absolute;
    transition: .5s ease;
    top: 67%;
    left: 11%;
    bottom: 57%;
}
#wrap {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  cursor: pointer;
  position:absolute;
    transition: .5s ease;
    top: 35%;
    left: 7%;
    bottom: 57%;
}
#title3 {
  font-family: 'Open Sans Condensed', sans-serif;
  position:absolute;
    transition: .5s ease;
    top: 67%;
    left: 35%;
    bottom: 57%;
}
#tofu {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  cursor: pointer;
  position:absolute;
    transition: .5s ease;
    top: 35%;
    left: 29%;
    bottom: 57%;
}
#title4 {
  font-family: 'Open Sans Condensed', sans-serif;
  position:absolute;
    transition: .5s ease;
    top: 67%;
    left: 57%;
    bottom: 57%;
}
#pasta {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  cursor: pointer;
  position:absolute;
    transition: .5s ease;
    top: 35%;
    left: 51%;
    bottom: 57%;
}
#title5 {
  font-family: 'Open Sans Condensed', sans-serif;
  position:absolute;
    transition: .5s ease;
    top: 67%;
    left: 80%;
    bottom: 57%;
}
#risotto{
  width: 220px;
  height: 220px;
  border-radius: 10px;
  cursor: pointer;
  position:absolute;
    transition: .5s ease;
    top: 35%;
    left: 73%;
    bottom: 57%;
}
#title6 {
  font-family: 'Open Sans Condensed', sans-serif;
  position:absolute;
    transition: .5s ease;
    top: 117%;
    left: 12%;
    bottom: 57%;
}
#soup {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  cursor: pointer;
  position:absolute;
    transition: .5s ease;
    top: 85%;
    left: 7%;
    bottom: 57%;
}
