body {
  background-color: powderblue;
}
#title1 {
  color: white;
  font-family: 'Karma', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 80px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 2px solid;
  position:absolute;
    transition: .5s ease;
    top: 7%;
    left: 38%;
    bottom: 90%;
}
.topnav {
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}
.topnav a:hover {
    background-color: plum;
    color: black;
}
.topnav a.active {
    background-color: #2196F3;
    color: white;
}
.topnav input[type=text] {
  font-family: 'Karma', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 11px;
    margin-right: 16px;
    font-size: 17px;
    position:absolute;
      transition: .5s ease;
      top: 5%;
      left: 77%;
      bottom: 87%;
}
.topnav .search-container button {
  float: right;
  width: 35px;
  height: 33px;
  padding: 6px 10px;
  margin-top: 27px;
  margin-right: 18px;
  margin-bottom: 50px;
  background: #2196F3;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: plum;
}
.active {
  font-family: 'Karma', serif;
  font-weight: 400;
  line-height: 180%;
  -webkit-font-smoothing: antialiased;
  position:absolute;
    transition: .5s ease;
    top: 4%;
    left: 3%;
    bottom: 87%;
}
#about{
  font-family: 'Karma', serif;
  font-weight: 400;
  line-height: 180%;
  -webkit-font-smoothing: antialiased;
  position:absolute;
    transition: .5s ease;
    top: 4%;
    left: 10%;
    bottom: 87%;
}
#contact {
  font-family: 'Karma', serif;
  font-weight: 400;
  line-height: 180%;
  -webkit-font-smoothing: antialiased;
  position:absolute;
    transition: .5s ease;
    top: 4%;
    left: 17%;
    bottom: 87%;
}
.column {
    float: left;
    width: 25%;
    margin-top: 230px;
    height: 200px;
}
.row:after {
    content: "";
    diplay: table;
    clear: both;
}
.column img {
  display: block;
  width: 220px;
  height: 220px;
  border: 8px solid white;
  cursor: pointer;
}

figcaption{
  background-color: white;
  padding-top: 5px;
  font-family: 'Karma', serif;
  border: 10px solid white;
  cursor: pointer;
}
